@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #3C2B2B, #895A50);
    color: #f0bfb4;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 20px;
    height: 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

header div {
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 50%;
    box-sizing: border-box;
}

header nav {
    text-align: right;
}

nav > a {
    margin-right: 20px;
    text-decoration: none;
    color: #ffe5df;
}

nav > a:hover {
    text-decoration: underline;
}

header, nav, main a {
    text-decoration: none;
}

main {
    height: 490px;
    width: 100vw;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.section1 {
    width: 65%;
    height: 350px;
}

.section1  div.imagem {
    height: 200px;
    width: 200px;
    background-color: black;
    transform: translate(700px, -120px);
}

.section1 h1 {
    font-size: 3em;
    margin: 20px 0px 20px 0px;
    color: #ffe5df;;
}

.section1 a {
    background: #f0bfb4;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.123);
    display: inline-block;
    color: #3b2d2b;
}

.section1 a:hover {
    transform: translate(-2px, -2px);
}

.section2 {
    text-align: justify;
    padding-bottom: 30px;
    margin: auto;
    line-height: 1.5em;
}

.section2 h2 {
    color: #ffe5df;
    text-align: center;
    padding-bottom: 10px;
}

footer {
    font-size: 2em;
    text-align: center;
}