@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #3C2B2B, #895A50);
    color: #f0bfb4;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 20px;
    height: 90px;
}

header nav {
    text-align: right;
}

nav > a {
    margin-right: 20px;
    text-decoration: none;
    color: #ffe5df;
}

nav > a:hover {
    text-decoration: underline;
}

header, nav, main a {
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.section1 {
    height: 200px;
    width: 50%;
}

.section1 > div {
    width: 52%;
    display: block;
}

.section1 > div > img {
    height: 200px;
    width: 200px;
    background-color: black;
}

.section1 h1 {
    font-size: 3em;
    margin: 20px 0px 20px 0px;
    color: #ffe5df;;
}

.section1 a {
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.123);
    display: inline-block;
}

.section1 a:hover {
    transform: translate(-3px, -3px);
}

.section2 {
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 40px;
    width: 100vw;
}

.section2 h2 {
    color: #ffe5df;
}

footer {
    height: 100px;
    font-size: 2em;
    text-align: center;
}